body {
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    margin: 0;
    padding: 20px;

    background-color: black;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;

    color: black!important;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="url"],
form input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

form button:hover {
    background-color: #218838;
}
.back-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}

